extends layout 

block content 
    // Search bar
    .row.justify-content-left.align-items-top 
        .col-lg-8
            form#latin-search(method="GET", action="/corpus")
                // On submit, calls endpoint '/latin' with query params {search: 'input field val', submit: 'normal'}
                // viz. query params are equal to key-value pairs using 'name' and 'value' attributes of input & btn elements

                .input-group.mb-3
                    //label.input-group-text(for="search-input") Meaning
                    //Populate with currently displayed lemma if exists
                    input.form-control.alt-keys#search-input(type="text", name="search", placeholder="Enter a query", value=searchData ? searchData.query : '')
                    #alt-letter-popover(style="display: none;")
                    button.btn.btn-success(type="submit", name='submit', value="normal") Search

    if docs
        // Search results display
        table#results-table
            tr
                th Title
                th Author
                th Language
                th Source
            each doc in docs
                tr
                    td.doc-title
                        a(href="/corpus/text/" + doc.corpus_master_id) #{doc.title}
                    td.doc-author
                        a(href="/corpus/author/" + doc.author) #{doc.author}
                    td.doc-language
                        a(href="/corpus/lang/" + doc.language) #{doc.language}
                    td.doc-src
                        a(href=doc.source_url) #{doc.source}

    else if docData && docSections && sectionTextJSON
        // Document display

        h2#section-hdr #{docData[0].title} #{section}
        
        #document-sections.collapsible
            button.collapse-btn Sections
            ul#section-list.collapsible-content
                each s in docSections
                    if s.chapters
                        li.collapsible
                            button.book-btn.collapse-btn #{s.book}
                            ul.collapsible-content
                                each chapter in s.chapters
                                    li
                                        a.chap-btn(href=`?section=${s.book}/${chapter}`) #{chapter}
                    else 
                        li
                            a.book-btn(href=`?section=${s.book}`) #{s.book}

        table#document-text
            - var sectionText = typeof sectionTextJSON === 'string' ? JSON.parse(sectionTextJSON) : sectionTextJSON
            //- p #{JSON.stringify(sectionText)}
            each linesObj, noteKey in sectionText
                - var lineText = typeof linesObj === 'string' ? JSON.parse(linesObj) : linesObj
                    tr
                        td.text-note #{noteKey}
                        td.text-line 
                            each token in lineText 
                                if token.id !== null && token.token !== '"'
                                    button(data-id=token.id) #{token.token}
                                else
                                    span #{token.token}
                        //- #{Object.keys(lineText).join('')}
        #token-data
            button#token-close-btn x
            // Display token data here (dynamically populated using JS)
            h3#token-header
            div#token-err
            div #[em#token-ipa ] / #[span#token-syll ]
            table#token-data-table

        script.
            //- Load onclick method for collapsible sections
            var collapsible = document.querySelectorAll('.collapsible > .collapse-btn');
            collapsible.forEach((el) => {
                el.addEventListener('click', (e) => {
                    e.target.parentElement.classList.toggle('active');
                })
            });

            function appendTableRow(table, title, data) {
                let row = document.createElement('tr');
                let hdr = document.createElement('td');
                hdr.textContent = title;
                hdr.classList.add('token-data-name');
                row.appendChild(hdr);
                let val = document.createElement('td');
                val.textContent = data;
                val.classList.add('token-data-value');
                row.appendChild(val);
                table.appendChild(row);
            }

            //- Load onclick method for selectible tokens
            var textDiv = document.getElementById('document-text');
            console.log(textDiv);
            textDiv.addEventListener('click', (e) => {
                let id = e.target.getAttribute('data-id');
                let corpus_id = '#{docData[0].corpus_master_id}';
                if (typeof(id) !== 'undefined') {
                    //- Load token data for id
                    const fetch_path = `/tokens/latin/${corpus_id}/${id}`;
                    console.log("Token path: " + fetch_path);
                    let data = fetch(fetch_path).then((response) => {
                        return response.json();
                    }).then((json) => {
                        let data = json.data[0];
                        console.log(data);

                        let tokenDataDiv = document.getElementById('token-data');
                        let tokenDataTable = document.getElementById('token-data-table');
                        if (data) {
                            //- Reset fields
                            document.getElementById('token-err').textContent = '';
                            tokenDataTable.innerHTML = '';
                            
                            document.getElementById('token-header').textContent = data.surf_form;
                            document.getElementById('token-ipa').textContent = data.phonetic_transcription;
                            document.getElementById('token-syll').textContent = data.syllables;
                            appendTableRow(tokenDataTable, 'Part of speech', data.pos);
                            appendTableRow(tokenDataTable, 'Stem', data.stem);

                            if (data.features) {
                                console.log("Features: " + data.features);
                                //- Quote features to allow JSON parsing
                                let features = data.features.replace(/([{\s,])([A-Za-z0-9_]+)\s*:/g, '$1"$2":');  // Fix key
                                features = features.replace(/:\s*\[([A-Za-z_][A-Za-z0-9_,\s]*)\]/g, ': "$1"');  // Fix value
                                console.log("Features (fixed): " + features);
                                let featJSON = JSON.parse(features);
                                for (const key in featJSON) {
                                    appendTableRow(tokenDataTable, key, featJSON[key]);
                                }
                            }

                        } else {
                            document.getElementById('token-err').textContent = 'No token data found.';
                        }
                        tokenDataDiv.style.display = 'flex';
                        //- HANDLE DATA HERE -- CALL DISPLAY METHOD
                    });
                }
            });
            var tokenCloseBtn = document.getElementById('token-close-btn');
            tokenCloseBtn.addEventListener('click', (e) => {
                let tokenDataDiv = document.getElementById('token-data');
                tokenDataDiv.style.display = 'none'
            });
    else
        // Language select
        #language-select
            a(href="/corpus/lang/latin") Latin
