extends layout

block content
    .container
        .card
            .card-body
                .row.justify-content-center
                    .col-lg-4.text-center
                        h2
                            strong.mb-4.text-center #{entry.rt_shape}
                        //.col-lg-4
                        h4
                            span.ml-2 #{entry.rt_meaning}
            .card-body
                if dictionary.length > 0
                    h3 Reflexes
                    table.table.table-striped.table-bordered
                        thead
                            tr
                                th Language
                                th Reflex
                                th Gloss
                                th Grammar
                                th Source
                        tbody
                        each reflex in dictionary
                            tr
                                td.table-langauge= reflex.lang
                                td.table-reflex= reflex.form_in_ref
                                td.table-gloss= reflex.gloss_orig
                                td.table-grammar
                                td.table-source= reflex.ref_id
                else
                    h4 Reflexes currently missing.
                hr
        //-
            .card-body
                // Related Concepticon Concepts Section
                if common && common.length > 0 && common[0].concepticon && common[0].concepticon.length > 0
                    h3 Related Concepticon Concepts
                    table.table.table-striped.table-bordered
                        thead
                            tr
                                th ID
                                th Gloss
                                th Definition
                                th Semantic Field
                        tbody
                            each item in common
                                if item.concepticon && item.concepticon.length > 0
                                    each concept in item.concepticon
                                        tr
                                            td
                                                a(href="https://concepticon.clld.org/parameters/" + concept.id target="_blank") #{concept.id}
                                            td= concept.gloss
                                            td !{concept.definition}
                                            td= concept.semanticfield

    script(src="/javascripts/dictionaryFeatures.js")
