extends layout

block content
    .container
        .card
            .card-body
                .row.justify-content-center
                    .col-lg-4.text-center
                        h2
                            strong.mb-4.text-center #{entry.rt_shape}
                        //.col-lg-4
                        h4
                            if entry.grammar
                                span.pr-2 #{entry.grammar} ·&nbsp;
                            strong.ml-4 #{entry.rt_meaning}
                        if entry.alternates.length > 0
                            if entry.alternates.length > 1
                                strong Alternate forms:
                                each form, index in entry.alternates
                                    span #{form}
                                    if index != entry.alternates.length-1
                                        span ,
                            else 
                                strong Alternate form:
                                span #{entry.alternates[0]}
                        if entry.variant_id
                            span Variant of: 
                            a(href="/dictionary/"+entry.variant_id) #{entry.variant_shape}
            each dictionary, source in sources
                h3(data-bs-toggle="collapse" data-bs-target="#collapse"+source).mb0.card-header 
                    .dropdown-toggle Reflexes in #{source}
                div(id="collapse"+source).collapse 
                    table.card-body.table.table-striped.table-bordered.mb-0
                        thead
                            tr
                                th Language
                                th Reflex
                                th Gloss
                                th Grammar
                        tbody
                        each reflex in dictionary
                            tr
                                td.table-langauge= reflex.full_xlanguage_name
                                td.table-reflex= reflex.reflex
                                td.table-gloss= reflex.gloss_orig
                                td.table-grammar= reflex.category 
        //-
            .card-body
                // Related Concepticon Concepts Section
                if common && common.length > 0 && common[0].concepticon && common[0].concepticon.length > 0
                    h3 Related Concepticon Concepts
                    table.table.table-striped.table-bordered
                        thead
                            tr
                                th ID
                                th Gloss
                                th Definition
                                th Semantic Field
                        tbody
                            each item in common
                                if item.concepticon && item.concepticon.length > 0
                                    each concept in item.concepticon
                                        tr
                                            td
                                                a(href="https://concepticon.clld.org/parameters/" + concept.id target="_blank") #{concept.id}
                                            td= concept.gloss
                                            td !{concept.definition}
                                            td= concept.semanticfield

    script(src="/javascripts/dictionaryFeatures.js")
