extends layout 

block content 
    // Search bar
    .row.justify-content-left.align-items-top 
        .col-lg-8
            form#latin-search(method="GET", action="/latin")
                // On submit, calls endpoint '/latin' with query params {search: 'input field val', submit: 'normal'}
                // viz. query params are equal to key-value pairs using 'name' and 'value' attributes of input & btn elements

                .input-group.mb-3
                    //label.input-group-text(for="search-input") Meaning
                    //Populate with currently displayed lemma if exists
                    input.form-control.alt-keys#search-input(type="text", name="search", placeholder="Enter a query", value=lemmaData ? lemmaData.main.lemma : '')
                    #alt-letter-popover(style="display: none;")
                    button.btn.btn-success(type="submit", name='submit', value="normal") Search

    // Details display
    // Grammar data comes from main entry
    if lemmaData
        #entry-details
            #details-table
                table 
                    tr
                        td Language 
                        td #{lemmaData.main.lang}
                    tr
                        td Grammar 
                        if lemmaData.main.gender
                            td #{lemmaData.main.pos}, #{lemmaData.main.gender}
                        else
                            td #{lemmaData.main.pos}
                    tr
                        td Pronunciation 
                        td #{lemmaData.main.ipa}
                    tr
                        td Etymology
                        td etym goes here
                    tr
                        td Cognates
                        td Something here?
                    tr
                        td Descendants
                        td offspring here
            
            hr
            #details-meaning
                h5 Meaning
                #senses
                    // Populated later
                
            hr
            #details-declension
                h5 Declension
                p *Latin quiz flashbacks here*
                
            hr
            #details-citations
                h5 Attestations
                ul#citations
                    //Populated later
            
            hr
            #details-related
                h5 Related Words
                if lemmaData.related
                    ul
                        each entry in lemmaData.related
                            li
                                a(href="/latin/lemma/" + entry.lemma_id) #{entry.lemma + (entry.sense_num ? entry.sense_num.split('.')[0] : '')}
                    
        script.
            // Populate entries & attestations
            let entries = !{JSON.stringify(lemmaData.senses)};
            let mainEntry = !{JSON.stringify(lemmaData.main)};
            let attestations = [];
            const senseParent = document.getElementById('senses');
            const attestationParent = document.getElementById('citations');

            // Main sense entry
            let mainDiv = document.createElement('div');
            mainDiv.classList.add('main-sense', 'sense');
            if (mainEntry.sense_num) {
                mainDiv.innerHTML += "<b>" + mainEntry.sense_num + "</b>"
            }
            mainDiv.innerHTML += "<span>" + mainEntry.entry ? mainEntry.entry : mainEntry.entry_str + "</span>"
            senseParent.appendChild(mainDiv);
            attestations.push(mainDiv.querySelectorAll(':scope > .cit'));
            attestations.push(mainDiv.querySelectorAll(':scope > .bibl'));

            //Sense entries
            entries.forEach((sense) => {
                let entryDiv = document.createElement('div');
                entryDiv.classList.add('sense', 'indent-' + sense.sense_num.length);
                entryDiv.style = "margin-left:" + (50*Math.floor(sense.sense_num.length/2)) + "px;";
                entryDiv.innerHTML += "<b>" + sense.sense_num.split('.').at(-1) + "</b>"
                entryDiv.innerHTML += "<span>" + sense.entry ? sense.entry : sense.entry_str + "</span>"
                senseParent.appendChild(entryDiv);
                
                attestations.push(entryDiv.querySelectorAll(':scope > .cit'));
                attestations.push(entryDiv.querySelectorAll(':scope > .bibl'));
            });
            
            // Populate attestations
            console.log(attestations);
            attestations.forEach((resultList) => {
                resultList.forEach((elem) => {
                    attestationElement = document.createElement('li');
                    attestationElement.appendChild(elem);
                    attestationParent.appendChild(attestationElement);
                });
            });