extends layout

block content
    div.d-flex.align-items-center.justify-content-between
        if renderIndex
            h1.m-4 Index
            h6.m-4 Below is a list of all PIE roots and their proposed meanings.  Currently, roots are listed as in Pokorny 1959, though we intend to modernize root shapes in the near future (thus, “h₂eǵ-” for “aǵ-”).
        else
            h1.m-4 Search Results - Found !{results.length} Matching Entries
        if results.length > 0
            a.btn.btn-primary(href=`/download${locals.queryString}`, title="Download these results as CSV")
                i.fas.fa-download
    if results.length > 0
        each result in results
            .card.mb-3
                .card-body
                    h5.card-title
                        a(href=`/dictionary/${result.rt_master_id}`) !{result.rt_shape}
                    p.card-text !{result.rt_meaning}
    else
        p.text-center No results found.